In [3]:
import pandas as pd
import os

data_path = './data'

train = pd.read_csv(os.path.join(data_path, 'train.csv'))
test = pd.read_csv(os.path.join(data_path, 'test.csv'))

In [4]:
train.head()

,bant_submit,business_unit,customer_idx,customer_type,enterprise,historical_existing_cnt,customer_job,lead_desc_length,inquiry_type,product_category,product_subcategory,product_modelname,customer_position,response_corporate,expected_timeline,business_area,business_subarea,lead_owner,is_converted
0,1.0,AS,32160,End-Customer,Enterprise,NaN,purchasing,62,Quotation or purchase consultation,multi-split,NaN,NaN,entry level,LGEPH,less than 3 months,corporate / office,Engineering,0,True
1,1.0,AS,23122,End-Customer,Enterprise,12.0,media and communication,96,Quotation or purchase consultation,multi-split,NaN,NaN,ceo/founder,LGEPH,less than 3 months,corporate / office,Advertising,1,True
2,1.0,AS,1755,End-Customer,Enterprise,144.0,engineering,56,Product Information,single-split,NaN,NaN,partner,LGEIL,less than 3 months,corporate / office,Construction,2,True
3,1.0,AS,4919,End-Customer,Enterprise,NaN,entrepreneurship,44,Quotation or purchase consultation,vrf,NaN,NaN,ceo/founder,LGEIL,less than 3 months,corporate / office,IT/Software,3,True
4,1.0,AS,17126,Specifier/ Influencer,Enterprise,NaN,consulting,97,Quotation or purchase consultation,multi-split,NaN,NaN,partner,LGEIL,less than 3 months,corporate / office,NaN,4,True

In [10]:
for column in train.columns:
    print(f'{column} 컬럼의 결측값은 전체의 {train[column].isna().mean() * 100:.0f}%')

bant_submit 컬럼의 결측값은 전체의 0%
business_unit 컬럼의 결측값은 전체의 0%
customer_idx 컬럼의 결측값은 전체의 0%
customer_type 컬럼의 결측값은 전체의 74%
enterprise 컬럼의 결측값은 전체의 0%
historical_existing_cnt 컬럼의 결측값은 전체의 77%
customer_job 컬럼의 결측값은 전체의 32%
lead_desc_length 컬럼의 결측값은 전체의 0%
inquiry_type 컬럼의 결측값은 전체의 2%
product_category 컬럼의 결측값은 전체의 33%
product_subcategory 컬럼의 결측값은 전체의 84%
product_modelname 컬럼의 결측값은 전체의 84%
customer_position 컬럼의 결측값은 전체의 0%
response_corporate 컬럼의 결측값은 전체의 0%
expected_timeline 컬럼의 결측값은 전체의 52%
business_area 컬럼의 결측값은 전체의 69%
business_subarea 컬럼의 결측값은 전체의 91%
lead_owner 컬럼의 결측값은 전체의 0%
is_converted 컬럼의 결측값은 전체의 0%

In [11]:
train['customer_idx'].value_counts()

47466    7686
25096    2421
37680     367
18030     331
21321     162
         ...
39487       1
41241       1
39422       1
22515       1
30268       1
Name: customer_idx, Length: 35112, dtype: int64

In [16]:
train['is_converted'].mean()

0.08178890031872375

## customer_idx 컬럼

In [24]:
train.groupby('customer_idx')['is_converted'].agg(['count', 'mean']).reset_index().sort_values(by='count', ascending=False).reset_index(drop=True).head(10)

   customer_idx  count      mean
0         47466   7686  0.008717
1         25096   2421  1.000000
2         37680    367  0.010899
3         18030    331  0.003021
4         21321    162  0.006173
5         33350    135  0.000000
6         43395     91  0.000000
7         25309     90  0.000000
8         33763     88  0.000000
9         32240     84  0.011905

In [37]:
train[train['customer_idx']==25096]['customer_type'].info()

<class 'pandas.core.series.Series'>
Int64Index: 2421 entries, 405 to 53491
Series name: customer_type
Non-Null Count  Dtype
--------------  -----
0 non-null      object
dtypes: object(1)
memory usage: 37.8+ KB

## customer_type 컬럼

In [42]:
train['customer_type'].value_counts().head(10)

End-Customer              6647
End Customer              3996
Specifier/ Influencer     2525
Channel Partner           1368
Service Partner            349
Solution Eco-Partner       146
Installer/Contractor        52
Specifier / Influencer      43
Corporate                   31
HVAC Engineer               23
Name: customer_type, dtype: int64

In [44]:
len(train)

59299

In [43]:
train['customer_type'].isna().sum()

43961

In [48]:
train[train['customer_type'].isna()]['is_converted'].value_counts(normalize=True)

False    0.934123
True     0.065877
Name: is_converted, dtype: float64

In [49]:
train[~train['customer_type'].isna()]['is_converted'].value_counts(normalize=True)

False    0.872604
True     0.127396
Name: is_converted, dtype: float64